*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
A1/dist/lib/*.jar
a2b/ece454750a2/*.jar
*.war
*.ear

# Graph files
a2b/ece454750a2/*.txt
a2b/ece454750a2/*.out
a2b/ece454750a2/*.sort

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.vagrant
.DS_Store
Thumbs.db

# IntelliJ
.idea
.iml

# Sublime
*.sublime-workspace
*.sublime-project

# Latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
